
<div class="contents">
  <div class="imageLoader">
    <img id="elecManInsideFloor1" src="http://agamedesigner.info/appImages/AngularTesting/elecManInsideFloor1.png"><br>
    <img id="megamanIdle1" src="http://agamedesigner.info/appImages/AngularTesting/megamanIdle1.png"><br>
    <img id="megamanIdle2" src="http://agamedesigner.info/appImages/AngularTesting/megamanIdle2.png"><br>
    <img id="megamanIdle1Flipped" src="http://agamedesigner.info/appImages/AngularTesting/megamanIdle1Flipped.png"><br>
    <img id="megamanIdle2Flipped" src="http://agamedesigner.info/appImages/AngularTesting/megamanIdle2Flipped.png"><br>
    <img id="megamanWalk1Flipped" src="http://agamedesigner.info/appImages/AngularTesting/megamanWalk1Flipped.png"><br>
    <img id="megamanWalk2Flipped" src="http://agamedesigner.info/appImages/AngularTesting/megamanWalk2Flipped.png"><br>
    <img id="megamanWalk1" src="http://agamedesigner.info/appImages/AngularTesting/megamanWalk1.png"><br>
    <img id="megamanWalk2" src="http://agamedesigner.info/appImages/AngularTesting/megamanWalk2.png"><br>
    <img id="megamanWalk3Flipped" src="http://agamedesigner.info/appImages/AngularTesting/megamanWalk3Flipped.png"><br>
    <img id="megamanWalk4Flipped" src="http://agamedesigner.info/appImages/AngularTesting/megamanWalk4Flipped.png"><br>
    <img id="megamanWalk3" src="http://agamedesigner.info/appImages/AngularTesting/megamanWalk3.png"><br>
    <img id="megamanWalk4" src="http://agamedesigner.info/appImages/AngularTesting/megamanWalk4.png"><br>
    <img id="megamanJump" src="http://agamedesigner.info/appImages/AngularTesting/megamanJump.png"><br>
    <img id="megamanJumpFlipped" src="http://agamedesigner.info/appImages/AngularTesting/megamanJumpFlipped.png"><br>
    <img id="elecManInsidePlatform1" src="http://agamedesigner.info/appImages/AngularTesting/elecManInsidePlatform1.png"><br>
    <img id="elecManInsideWall1" src="http://agamedesigner.info/appImages/AngularTesting/elecManInsideWall1.png"><br>
    <img id="wilyLogoBL" src="http://agamedesigner.info/appImages/AngularTesting/wilyLogoBL.png"><br>
    <img id="wilyLogoBR" src="http://agamedesigner.info/appImages/AngularTesting/wilyLogoBR.png"><br>
    <img id="wilyLogoTL" src="http://agamedesigner.info/appImages/AngularTesting/wilyLogoTL.png"><br>
    <img id="wilyLogoTR" src="http://agamedesigner.info/appImages/AngularTesting/wilyLogoTR.png"><br>
  </div>
  <div>
    <app-game-list></app-game-list>
    <div class="canvas">
      <canvas id="SampleGame1" width="400" height="400"></canvas>
    </div>
  </div>
</div>

<script src="drawFunctions.js" ></script>

<router-outlet></router-outlet>
