<h1 class="gameHeader" id="gameHeader">Choose your game: </h1>
<table>
  <tr>
    <td *ngFor="let product of products">
      <button class="bigButton" [title]="product.description" (click)="share(product.id)">
        {{ product.name }}
      </button>
    </td>
  </tr>
  <tr>
    <td colspan="3" style="display: table-cell; text-align: center;"><button class="resetButton" id="msResetButton" [title]="gameButton.title" (click)="MinesweeperReset()" >{{gameButton.value}}</button></td>
  </tr>
</table>

<br><br>
